*{
    list-style: none;
    text-decoration: none;
}
.container{
    display: flex;
    margin-top: 10px;
    
}


.link{
    text-decoration: none;
    color: inherit;
}
.color--rosa{
    color: rgb(222, 43, 207);
}
.back--rosa{
    background-color: rgb(222, 43, 207) !important;
}